--- 
layout: default 
title: Blog 
permalink: /blog/ 
order: 2
---

<section class="blog-wrapper pb-5">
  <div class="container">
    <div class="text-center">
      <h2>Blog</h2>
      <div class="d-flex justify-content-center mb-3 flex-wrap">
          {% assign sortedCategories = site.category | sort %}
          {% for category in sortedCategories %}
            <a href="{{ category.slug }}" class="mr-4 font-size-7">{{ category.tag }}</a>
          {% endfor %}
      </div>
      <p class="text-muted font-size-6 w-75 mx-auto">Writing about everything, but mostly about being a self-taught developer, making products and travel.</p>
    </div>
    <div class="row d-flex justify-content-center">
      {% for post in site.posts %}
        {% unless post.category contains "travel" %}
          <div class="col-lg-6 col-12 my-3">
            <a class="no-underline" href="{{ post.url }}">
              <div class="text-center-children rounded-3 d-flex item-hover box-shadow justify-content-center flex-column align-items-center article-wrapper p-3" style="background: linear-gradient( rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url({% asset "{{ post.image }}" @path %});
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;">
                <h2>{{ post.title }}</h2>
                <h5 class="d-none d-lg-inline text-muted">{{ post.subtitle }}</h5>
                <p class="text-muted">{{ post.date | timeago }}</p>
              </div>
            </a>
          </div>
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</section>
