_site
.sass-cache
.asset-cache
.jekyll-cache
.jekyll-metadata
.vscode/
_assets/images/update-design/.DS_Store
_assets/images/.DS_Store
_assets/.DS_Store
_assets/images/.DS_Store
_assets/images/five-days-before-interview/.DS_Store
_assets/images/learner-into-developer/.DS_Store
_assets/.DS_Store
_assets/images/.DS_Store
