<head>

  <!-- META tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Hi, my name is Kris Bogdanov. A software developer that loves making products and websites. I also love creating content about coding and productivity.">

  <!-- Twitter cards META tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@krisbogdanov">
  <meta name="twitter:creator" content="@kris_bogdanov">
  {% if page.title %}
    <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
    <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}

  {% if page.url %}
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}

  {% if page.subtitle %}
    <meta name="twitter:description" content="{{ page.subtitle }}">
  {% endif %}

  {% if page.image %}
    <meta name="twitter:image:src" content="{{ site.url }}{% asset "{{ page.image }}" @path %}">
  {% endif %}

  <title>
    {% if page.url == "/" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} 	| {{ site.title }}
    {% endif %}
  </title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{% asset "favicon.png" @path %}"/>

  <!-- Fonts -->
  <link rel="stylesheet" href="https://use.typekit.net/kqw7kgr.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  
  <!-- Production stuff -->
  {% if site.production %}
    {% include analytics.html %}
  {% endif %}
  
  <!-- CSS -->
  {% asset main.css %}

  <!-- Other JS stuff -->
  <script src="https://unpkg.com/scrollreveal"></script>
</head>
