---
---

@charset 'UTF-8';

@import "./custom/_variables.scss";

// import bootstrap
@import 'bootstrap/bootstrap';

// utility classes
@import './custom/utility_classes';

// includes
@import 'custom/includes/header';

// pages
@import 'custom/pages/blog';
@import 'custom/pages/travel';
@import 'custom/pages/index';

// font
@import './custom/_font.scss';



#mc_embed_signup{
  background: $primary-4;
  padding: 25px;
  box-shadow: 0 10px 24px rgba(0,0,0,0.2);
  clear:left; 
  width:100%;

  input.email{
    font-size: 20px;
    border: 0;
    box-shadow: 0 4px 6px hsla(0,0%,0%,0.2);
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    height: 60px;
    padding-left: 20px;
    transition: box-shadow 0.3s ease-in-out;
    &:hover, &:focus{
      box-shadow: 0 1px 3px hsla(0,0%,0%,0.2);
    }
  }
  .clear{
    .button{
      background-color: $primary;
      width: 155px;
      height: 45px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}

// landing
.hero{
  height: auto;

  @include media-breakpoint-up(lg) { 
    min-height: 100vh;
  }

  .hero-image{
    height: 400px;
    @include media-breakpoint-up(lg){
      height: inherit;
      img{
        height: 80vh;
      }
    }
  }
}

.recent-article{
  transition: all 0.25s ease !important;
  height: auto;
  img{
    transition: transform 0.25s ease !important;
  }
  &:hover{
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
    transform: translateY(-0.5rem);
    -webkit-transform: translateY(-0.5rem);
    img{
      transform: scale(1.55)
    }
  }
  @include media-breakpoint-up(lg) { 
    height: 300px;
  }
}

.feature-image{
  height: auto;
  width: 100%;
  @include media-breakpoint-up(lg) { 
    height: 250px;
    width: initial;
  }
}

.contact-phone-icon{
  height: 70px;
  @include media-breakpoint-up(lg) { 
    height: 100px;
  }
}

.message{
  opacity: 0;
}