---
---

@charset 'UTF-8';

@import "./custom/_variables.scss";
@import './custom/utility_classes';

// import bootstrap
@import 'bootstrap/bootstrap';

// includes
@import 'custom/includes/header';

// pages
@import 'custom/pages/blog';
@import 'custom/pages/404';

// font
@import './custom/_font.scss';



#mc_embed_signup{
  background: $primary-4;
  padding: 25px;
  box-shadow: 0 1px 4px hsla(0,0%,20%,0.2);
  clear:left; 
  width:100%;

  input.email{
    font-size: 20px;
    border: 0;
    box-shadow: 0 4px 6px hsla(0,0%,0%,0.2);
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    height: 60px;
    padding-left: 20px;
    transition: box-shadow 0.3s ease-in-out;
    &:hover, &:focus{
      box-shadow: 0 1px 3px hsla(0,0%,0%,0.2);
    }
  }
  .clear{
    .button{
      background-color: $primary;
      width: 155px;
      height: 45px;
      font-size: 20px;
      font-weight: 600;
    }
  }
}