.h-25-vh{
  min-height: 25vh;
}

.h-50-vh{
  min-height: 50vh;
}

.h-75-vh{
  min-height: 75vh;
}

.h-100-vh{
  min-height: 100vh;
}

// hr width classes
.hr-w-25{
  width: 25%;
}

.hr-w-50{
  width: 50%;
}

.hr-w-75{
  width: 75%;
}

.hr-w-100{
  width: 100%;
}

.text-center-children{
  >*{
    text-align: center;
  }
}

.box-shadow{
  position: relative;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);

  &::before{
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.4);
    opacity: 0;
    transition: opacity 400ms;
    border-radius: 2rem;
  }
  &:hover::before{
    opacity: 1;
  }
}

// TODO change name of this class
.bg-test{
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.rounded-2{
  border-radius: 2rem;
}

.item-hover{
  transition: transform 0.2s ease-in;

  &:hover{
    transform: translateY(-4px);
  }
}
