html, body {
  font-size: 16px;
  font-family: proxima-soft;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
}

// Font size

h1 {
  font-size: 60px;
  line-height: 65px;
}

h2 {
  font-size: 36px;
  line-height: 48px;
}

h3 {
  font-size: 30px;
  line-height: 22px;
}

h4 {
  font-size: 24px;
  line-height: 22px;
}

h5 {
  font-size: 18px;
  line-height: 22px;
}

h6 {
  font-size: 16px;
  line-height: 22px;
}

// Line height

.line-height-1{
  line-height: 65px;
}

.line-height-2{
  line-height: 48px;
}

.line-height-3{
  line-height: 36px;
}

.line-height-4{
  line-height: 22px;
}


// Font weight

b, strong, h1, h2 {
  font-weight: 700;
}

h3, h4{
  font-weight: 600;
}

h5, h6{
  font-weight: 500;
}

mark{
  padding: 3px;
  background-color: $secondary-4;
}

// Links

a{
  text-decoration: none;
  color: $text-color;
  &:hover{
    color: $primary;
  }

  &.no-underline{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }

  &.no-color-change{
    color:inherit;
  }

  &.link{
    font-weight: 600;
    color: $primary;
  }
}

// Mobile
@media (max-width: 700px) {

  html, body {
    font-size: 14px;
  }

  h1 {
    font-size: 50px;
    line-height: 60px;
  }

  h2 {
    font-size: 28px;
    line-height: 42px;
  }

  h3 {
    font-size: 25px;
    line-height: 30px;
  }
}


// font size

.font-size-1{
 font-size: 60px !important; 
}

.font-size-2{
 font-size: 48px !important; 
}

.font-size-3{
 font-size: 36px !important; 
}

.font-size-4{
 font-size: 30px !important; 
}

.font-size-5{
 font-size: 24px !important; 
}

.font-size-6{
 font-size: 20px !important; 
}

.font-size-7{
 font-size: 18px !important; 
}

.font-size-8{
 font-size: 16px !important; 
}

.font-size-9{
 font-size: 14px !important; 
}

.font-size-10{
 font-size: 12px !important; 
}

.font-size-11{
 font-size: 10px !important; 
}

.font-size-12{
 font-size: 8px !important; 
}