$primary: #00AD45;
$secondary: #ad1414;

$text-color: #000;

$primary-2: #4dc67d;
$primary-3: #80d6a2;
$primary-4: #ccefda;

.btn-primary{
  color: white !important;
  &:hover{
    color: white;
  }  
}

.headroom {
  will-change: transform;
  transition: transform 300ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
