$primary: #00AD45;
$secondary: #ffc62b;

$text-color: #000;

$primary-2: #4dc67d;
$primary-3: #80d6a2;
$primary-4: #ccefda;

$secondary-2: #ffd155;
$secondary-3: #ffe395;
$secondary-4: #ffeebf;


.btn-primary{
  color: white !important;
  &:hover{
    color: white;
  }  
}

.btn-secondary{
  color: $secondary-4 !important;
  &:hover{
    color: $secondary-4;
  }  
}

.headroom {
  will-change: transform;
  transition: transform 300ms linear;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-100%);
}
