// /blog => article lists
.blog-wrapper{
  .article-wrapper{
    padding: 7px;
    height: 250px;
    max-width: 100vw;
    margin: 0 auto;
    border-radius: 9px;

    transition: transform 0.2s ease-in-out;

    &:hover{
      transform: scale(1.01);
    }
    
    h2, h5, p{
      color: #FFF;
    }
  }
}

.blog-main-wrapper{
  max-width: 850px;
  margin: 0 auto;

  .main-title{
    font-size: 52px;
    line-height: 1;
    @include media-breakpoint-down(xs) {
      font-size: 40px;
    }
  }
  .subtitle{
    font-size: 28px;
    @include media-breakpoint-down(xs) {
      font-size: 20px;
    }
  }

  a:not(.btn){
    color: $secondary;
  }
}

.blog-content-wrapper{
  img{
    width: 90vw;
    max-width: 550px;
    margin: 2rem auto;
    display: block;
  }
  h2{
    text-align: center;
    font-size: 46px;
    line-height: 1;

    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  p{
    font-size: 24px;
    margin: 0;
    margin: 1rem; 
  }
  li{
    font-size: 24px;
  }

  .btn{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  @include media-breakpoint-down(xs) {
    h2{
      font-size: 36px;
    }
    p {
      font-size: 18px;
      margin: 1rem 0;
    }
    li{
      font-size: 18px;
    }
  }
}

.tag-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  a{
    font-size: 20px;
    @include media-breakpoint-down(xs) {
      font-size: 18px;
    }
  }
}

.share-buttons {
  text-align: center;
  
  padding: 8px 15px;
  margin: 10px;
  .btn.tweet{
    font-size: 20px;
    background-color: white;
    color: #38A1F3;
    border: 1px solid #38A1F3;
    padding: 7px 25px;
    transition: all 0.3 ease-in-out;
    &:hover{
      background-color: #38A1F3;
      color: white;
    }
  }
}

.footer{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background-color: hsla(0,0%,80%,0.4);
    height: 1px;
    width: 100%;
    top: 20%;
    left: 0;
    z-index: -1;
  }
  .image-wrapper{
    width: 80px;
    margin: 0 auto;
    img{
      width: 100%;
      border: 1px solid hsla(0,0%,80%,0.4);
      padding: 4px;
      background: white;
    }
  }
  .copy{
    font-size: 20px;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
