.blog-main-wrapper{
  max-width: 800px;
  padding: 15px 0;
  margin: 0 auto;

  .main-title{
    font-size: 55px;
    @include media-breakpoint-down(xs) {
      font-size: 42px;
    }
  }
  .subtitle{
    font-size: 42px;
    @include media-breakpoint-down(xs) {
      font-size: 32px;
    }
  }

  a:not(.btn){
    color: $secondary;
  }
}

.blog-wrapper{
  .article-wrapper{
    padding: 7px;
    height: 250px;
    max-width: 80vw;
    margin: 0 auto;
    border-radius: 9px;

    transition: transform 0.3s ease-in-out;

    &:hover{
      transform: scale(1.01);
    }
    
    h2, h5, p{
      color: #FFF;
    }
  }
}

.blog-content-wrapper{
  img{
    width: 80vw;
    max-width: 500px;
    margin: 0 auto;
    display: block;
  }
  h2{
    text-align: center;
    font-size: 48px;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }
  p{
    font-size: 24px;
    margin: 0;
    margin-bottom: 2rem;
    // margin: 2rem 0;
  }
  li{
    font-size: 24px;
  }
  @include media-breakpoint-down(xs) {
    h2{
      font-size: 36px;
    }
    p {
      font-size: 18px;
      margin: 1rem 0;
    }
    li{
      font-size: 18px;
    }
  }
}

.tag-wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  a{
    font-size: 20px;
  }
}




.share-buttons {
  text-align: center;
  
  padding: 8px 15px;
  margin: 10px;
  .btn.tweet{
    font-size: 20px;
    background-color: white;
    color: #38A1F3;
    border: 1px solid #38A1F3;
    padding: 7px 25px;
    transition: all 0.3 ease-in-out;
    &:hover{
      background-color: #38A1F3;
      color: white;
    }
  }
}
