.get-in-touch-wrapper{
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: box-shadow 0.3s;
  &:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  }
}

.btn-cta{
  transition: box-shadow 0.3s;
  &:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  } 
}