.grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
  grid-template-rows: 1fr;
  @include media-breakpoint-down(lg) { 
    grid-template-columns: repeat(1,1fr);
}

  .item{
    border-radius: 7px;
    padding: 10px;
    color: white;
    height: 215px;
    transition: transform 0.3s ease-in-out;

    &:hover{
      transform: scale(1.03);
    }

    h4{
      font-weight: 800;
    }

    p{
      font-weight: 500;
    }

    &.content{
      background-color: hsla(10,10%,15%,0.9);
      padding: 20px;
    }
  }
}

.hero-text{
  max-width: 750px;
  margin: 0 auto;
}
