.grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
  grid-template-rows: 1fr;
  @include media-breakpoint-down(lg) { 
    grid-template-columns: repeat(1,1fr);
  }

  .item{
    color: white;
    height: 215px;

    @include media-breakpoint-down(xs) {
      h4{
        font-size: 2rem;
      }
      p{
        font-size: 1.5rem;
      }
    }
  }
}

.hero-text{
  max-width: 750px;
  margin: 0 auto;
  .main{
    font-size: 3.5rem;;
  }
  .submain{
    font-size: 2rem;
  }
  @include media-breakpoint-down(lg) { 
    .main{
      font-size: 2.5rem;
    }
    .submain{
      font-size: 1.5rem;
    }
  }
}

.icon-absolute{
  position: absolute;
  top: -31px;
  left: 0;
  background: white;
  padding: 9px;
  border-radius: 13px;
  font-size: 27px;
  color: black;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}
