<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="">
      {% include header-blog.html %}
      <div class="" style="background: linear-gradient( rgba(0, 0, 0, 0.50 ), rgba(0, 0, 0, 0.50)), url({% asset "{{ page.image }}" @path %});
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 500px;
      ">
      </div>
      <div class="blog-main-wrapper my-3">
        <div class="text-center-children">
          <h4 class="text-muted text-center date">{{ page.date | timeago }}</h4>
          <h1 class="main-title">{{ page.title }}</h1>
          <h3>{{ page.subtitle }}</h3>
          <div>
            {% if page.tags.size > 0 %}
              <div class="tag-wrapper">
                {% for tag in page.tags %}
                  <a class="mr-3" href = "/tag/{{tag | replace: ' ', '-'}}">{{tag}}</a>
                {%endfor %}
              </div>
            {% endif %}
          </div>
        </div>

        <hr class="hr-w-75">

        <section>
          <div class="container blog-content-wrapper">
            {{ content }}
          </div>
        </section>

        <div class="share-buttons">
            <a class="btn" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fab fa-twitter mr-3"></i>Tweet</a>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
