<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="">
      {% include header-blog.html %}
      <div class="" style="background: linear-gradient( rgba(0, 0, 0, 0.50 ), rgba(0, 0, 0, 0.50)), url({% asset "{{ page.image }}" @path %});
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 450px;
      ">
      </div>
      <div class="blog-main-wrapper mt-3 mb-5 container">
        <div class="text-center-children">
          <h4 class="text-muted text-center date">{{ page.date | timeago }}</h4>
          <h1 class="main-title">{{ page.title }}</h1>
          <h3 class="text-muted subtitle">{{ page.subtitle }}</h3>
          <div>
            {% if page.tags.size > 0 %}
              <div class="tag-wrapper">
                {% for tag in page.tags %}
                  <a class="mr-3" href = "/tag/{{tag | replace: ' ', '-'}}">{{tag}}</a>
                {%endfor %}
              </div>
            {% endif %}
          </div>
        </div>

        <hr class="hr-w-75">

        <section>
          <div class="blog-content-wrapper">
            <div>
              {{ content }}
            </div>
            <!-- <div class="share-buttons">
              <a class="btn tweet" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fab fa-twitter mr-3"></i>Tweet</a>
            </div> -->

            <div class="footer text-center">
              <div class="image-wrapper">
                <img class="rounded-circle mt-3 mb-1" src="{% asset "profile.jpg" @path %}">
              </div>
              <div>
                <h3>Kris Bogdanov</h3>
                <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center my-3">
                    <h5 style="font-size: 25px" class="mr-3 mb-3 mb-lg-0 text-center text-lg-left">Get a tweet when I write a new article</h5>
                    <a href="https://twitter.com/kris_bogdanov?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @kris_bogdanov</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <p class="copy text-muted">Self-taught programmer turned full-stack developer within less than a year. I write on how I did it, web development tips and other personal growth stuff.</p>
              </div>
            </div>
            
            <!-- <div class="" id="mc_embed_signup">
              <form action="https://ventures.us7.list-manage.com/subscribe/post?u=37e724be60beb016c16cf78cc&amp;id=45c66d2e12" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Follow my journey</label>
                <p>Receive an email when I release a new post. No sales campaigns. No spam.</p>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="someone@example.com" required>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_37e724be60beb016c16cf78cc_45c66d2e12" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary"></div>
                  </div>
              </form>
            </div> -->
          </div>
        </section>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
