<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="h-min-100-vh position-relative">
      <div style="padding-bottom:50px">
        {% include header.html %}
        <div class="text-center my-4">
          <h2>{{ page.tag | capitalize }}</h2>
          <p class="text-muted font-size-6 w-75 mx-auto">{{ page.subtitle | capitalize }}</p>
        </div>
        <section class="blog-wrapper">
            <div class="container">
              <div class="row d-flex justify-content-center">
                {% for post in site.categories[page.tag] %}
                  <div class="col-12 my-3">
                    <a class="no-decoration no-underline" href="{{ post.url }}">
                      <div class="d-flex rounded-2 box-shadow item-hover justify-content-center flex-column align-items-center article-wrapper" style="background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url({% asset "{{ post.image }}" @path %});
                      background-repeat: no-repeat;
                      background-size: cover;
                      background-position: center;">
                        <h2>{{ post.title }}</h2>
                        <h5 class="d-none d-lg-inline text-muted">{{ post.subtitle }}</h5>
                        <p class="text-muted">{{ post.date | date_to_long_string }}</p>
                      </div>
                    </a>
                  </div>
                {% endfor %}
                {% unless site.categories[page.tag].size %}
                  <h3 class="text-center">Articles on this topic are coming soon 👀</h3>
                {% endunless %}
              </div>
            </div>
          </section>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
